@charset "utf-8";
html,
body {
  height: 100%;
  margin: 0
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
	
}

.box .row {
	flex-grow:1;
	
}

.border_box, .center_borders{
	border-bottom: 4px solid #E27429;
	height: 40px;
}

.border_box{
width: 5%; background: #0E6D95;


}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
	display:flex;
}

.center_borders{
	background-color: #29ABE2;
	width:100%;
	color:white;
	font-weight:bold;
	font-size:26pt;
	justify-content: center;
	text-align: center;
}

.box .row.content {
 /* flex: 1 1 auto;*/
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
	margin-top: 10px;
	display:flex;
	flex-direction: row;
	flex-wrap:wrap-reverse;
	justify-content: center;
	height: auto;
	widht: 100%;
	
}

.box .row.footer {
	flex: 0 1 40px;
	display:flex;
}

.navigation {
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	margin-top: 0px;
	margin-bottom: 5px;
	display: flex;
	justify-content:center;
	border-bottom: 2px solid #E27429;
	height: 40px;
}

.navigation a {
	padding-right:10px;
	color: #0E6D95;
	font-weight: bold;
	margin:10px;
}

.resumeContent {
	display:block;
	
}



.skills, .resumeAboutMe {

	display:block;
	background-color: #D4EEF9;
	/*border-color:aqua;*/
	float:center;
	width:auto;
	height: auto;
	/*max-width: 256px;*/
	margin-left: 10px;
	margin-right: 10px;
	min-width:256px;
	flex-grow: 1;
}

.resumeAboutMe {
width:75%;
min-width:256px;
	flex-grow: 1
}

.resumeAboutMe li {
	margin-bottom:25px;
}
.resumeAboutMe p {
	margin-bottom:5px;
	margin-top:5px;
}

.contactInfo{
	height:auto;
	widht:100%;
	color: #0E6D95;
	padding:2px;
	margin:2px;
	font-weight:bold;
}
